.header{
    height: auto;
}

.content{
    height: auto;
}

.footer{
    bottom: 0px;
    position: relative;
    /* width: 100%; */
}


@media screen and (max-width: 630px) {
    .content{
        height: 650px;
    }
}